/* Tour page styles */

table {
    padding-top: 20px;
    padding-left: 10px;
    th,
    td {
        padding: 0 10px 0 0;
        width: 33.3333%;
        vertical-align: top;
    }
    caption {
        text-align: left;
        padding-left: 10px;
    }
    @media screen and (min-width: #{$bkp-large}) {
        width: 50%;
    }
}

@media screen and (min-width: #{$bkp-small}) {
    .heading.tour-heading {
        display: inline-block;
        margin: 0 25px 25px 0;
        &:before,
        &:after {
            display: inline-block;
            width: 20px;
            height: 25px;
            content: 'Icon of a guitar pick';
            text-indent: -9999px;
            background: url("../img/guitar_pick.svg") top left no-repeat;
        }
        &:before {
            margin: 0 10px 0 0;
        }
        &:after {
            margin: 0 0 0 10px;
        }
    }
}
