/* Global Layout Set-up */

* {
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    color: $ocean-green;
    background: $baltic-sea;
    @extend %text-center;
}

a {
    text-decoration: none;
    color: $dusty-gray;
    &:hover {
        color: $dusty-gray;
    }
}

.heading {
    font-size: 2em;
    margin-top: 10px;
    color: $pomegranate;
    @extend %uppercase;
}

@media screen and (min-width: 840px) {
    .flex {
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: flex;
        max-width: 1200px;
        -ms-flex-pack: distribute;
    }
}
